body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .presentation {
    margin-bottom: 20px;
  }
  
  .presentation-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .presentation-link {
    display: block;
    margin-bottom: 5px;
  }
  
  .video-link {
    display: inline-block;
    margin-right: 5px;
  }
  .video-links{
      padding-left: 0;
      list-style-type: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
  }
  
  /* Style the table header */
  th {
    padding: 8px;
    text-align: center;
  }

  td {
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e0e0e0;
  }
  